@import url("0/heroes.css");

 
#tabMatchups {
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 4px;
  border-bottom: 5px solid #ffffff;
}


#divContent {
  width: 100%;
}

@media (min-width: 820px) {
  #divContent {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    }
}









#Setting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  
  color: #dddddd;
  
  width: 100%;
  height: 120px;
   
  background-image: linear-gradient(to bottom, #111111, #333333);
}

#Setting > div {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 0.9rem;
  
}

#Setting > div:nth-child(1) {
  height: 20px;
}

#Setting > div:nth-child(2) {
  height: 40px;
}

#Setting > div:nth-child(3) {
  height: 40px;
}



#Setting > div:nth-child(2) > div:nth-child(1), #Setting > div:nth-child(2) > div:nth-child(3), #Setting > div:nth-child(3) > div:nth-child(1), #Setting > div:nth-child(3) > div:nth-child(3) {
  width: 16%;
}

#Setting > div:nth-child(2) > div:nth-child(2), #Setting > div:nth-child(3) > div:nth-child(2) {
  width: 40%;
}


#divAboutBan {
  margin-bottom: 15px;
  height: 40px;
  
  background-image: linear-gradient(to bottom, #777777, #999999);
  color: #ffffff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#divAboutBan #buttonAboutBan {
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  
  height: 24px;
  
  color: #222222;
  
  background-color: #eeeeee;
  border-radius: 12px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}




#divRole {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem !important;
  
  height: 36px;
  margin-top: 5px;
  margin-bottom: 20px;
  
  /*
  background-image: linear-gradient(to bottom, #777777, #999999); */
  color: #333333;
  
  cursor: pointer;

}

#divRole > div {
  width: 34px;
  height: 34px;
  
  margin-right: 4px;
  margin-left: 4px;
  
  border-radius: 17px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-sizing: border-box;
  border: 2px dashed #aaaaaa;
}

#divRole > div:nth-last-child(1), #divRole > div:nth-child(1){
  border-style: none !important;
  width: 50px !important;
  background-color: #ffffff;
}



#divContent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

#colFriend, #colCounter {
  width: 47%;
}

#titleFriend, #titleCounter {
  font-size: 1.2rem;
  margin-bottom: 6px;
  font-weight: 400;
}

#colFriend .Heroes, #colCounter .Heroes {
  padding-top: 7px;
  padding-bottom: 7px;
  
  background-color: #ccccdf;
  /* background-image: linear-gradient(to bottom, #dddde8, #dddde8);*/
  
  border-radius: 10px;
}

#colFriend .Heroes {
  
}

#colCounter .Heroes {
  
}


.Heroes div[data-onoff="off"] {
  display: none;
}

.heroesTop, .heroesOthers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroesTop, .heroesOthers {
  flex-wrap: wrap;
}

.heroesTop > div, .heroesOthers > div {
  background-image: linear-gradient(to bottom right, #eeeeee, #ffffff);
  
  border-radius: 6px;
  padding: 0px;
  
  box-shadow: 0px 0px 1px 0px #cccccc;
  
  height: 52px;
  margin: 4px;
}



.heroesTop > div {
  width: 175px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.heroesOthers > div {
  width: 52px;
  
}

.first.divRank {width: 30px;}

.backHero {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;
  margin:0px;
  pdding: 0px;
  border-radius: 6px;
}

.imgHero {
  width: 48px;
  height: 48px;
  margin:0px;
  pdding: 0px;
  
  border-radius: 5px;
  cursor: pointer;
}


.first.groupBar {
  width: 100px;
}

.groupBar {
  width: 70px;
  position: relative;
}


.barMain {
  background-image: linear-gradient(to bottom right, #54f66c, #2fd28e);
  border-radius: 0 4px 4px 0px;
  
  z-index: 2;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#colFriend .barMain {
  background-image: linear-gradient(to bottom right, #0cf, #09e);
}


#colCounter .barMain {
  background-image: linear-gradient(to bottom right, #f66, #e22);
}


.bar50 {
  background-color: #e0e0e0;
  width: 2px;
  height: 43px;
  border-radius: 1px;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  z-index: 1;

  
  left: 40px;
  
}


.groupNumber {
  color: #555555;
  text-shadow: 
    1px 1px 0 #fafafa,
    -1px 1px 0 #fafafa,
    1px -1px 0 #fafafa,
    -1px -1px 0 #fafafa,
    0px 1px 0 #fafafa,
    0px -1px 0 #fafafa,
    -1px 0px 0 #fafafa,
    1px 0px 0 #fafafa/* ,
    2px 2px 0 #fafafa,
    -2px 2px 0 #fafafa,
    2px -2px 0 #fafafa,
    -2px -2px 0 #fafafa,
    0px 2px 0 #fafafa,
    0px -2px 0 #fafafa,
    -2px 0px 0 #fafafa,
    2px 0px 0 #fafafa,
    1px 2px 0 #fafafa,
    -1px 2px 0 #fafafa,
    1px -2px 0 #fafafa,
    -1px -2px 0 #fafafa,
    2px 1px 0 #fafafa,
    -2px 1px 0 #fafafa,
    2px -1px 0 #fafafa,
    -2px -1px 0 #fafafa*/;
  width: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  
  z-index: 3;
}

  

#divInfo {
  width: 300px;
  
  color: #555555;
  background-color: #eeeeee;
  box-shadow: 0px 0px 1px 0px #cccccc;
  
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  
  border-radius: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#divInfo a {
  color: #555555;
  text-decoration: underline;
}

#divInfo > div:nth-child(1) {
  width: 30%;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

#divInfo > div:nth-child(2) {
  width: 66%;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}




#cardFocus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 362px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  
  height: 120px;
  overflow: hide;
  overflow-y: scroll;
  width: 370px  ;
  
  padding: 6px;
  
  background-image: linear-gradient(to bottom, #111111, #333333);
  color:#ffffff;
  z-index: 10;
  opacity: 0.95;
  
  border-radius: 10px;
  border: 4px solid #000000;
}

@media (min-height: 1000px) {
  #cardFocus {
    top: 750px;
  }
}

#cardFocus[data-which="friend"] {
  border: 4px solid #09e !important;
}
#cardFocus[data-which="counter"] {
  border: 4px solid #e22 !important;
}


#cardLeft {
  width: 20%;
}

#cardMid {width: 58%;}
#cardRight {width: 20%;}

#imgHeroCard {
  width: 60px;
  height: 60px;
  margin-bottom: 2px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px #000000;
}

#cardLeft > div {
  font-size: 1.1rem;
}

#cardLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#closeCard {
  width: 90%;
  height: 20px;
  margin-bottom: 4px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  background-image: linear-gradient(to right, #ee0000, #990000);
  color: #ffdddd;
  box-shadow: 0px 0px 3px 0px #000000;
  border-radius: 4px;
  border: 2px solid #cc0000;
  
  cursor: pointer;
}

#cardMid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


#cardMid > div:nth-child(1) {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  
}

#cardMid > div:nth-child(2) {
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

#cardMid > div:nth-child(3) {
  margin-left: 3px;
}

#cardMid > div:nth-child(4) {
  width: 100%;
}

#cardMid > div:nth-child(5) {
  width: 100%;
}

#cardRight > div {
  font-size: 0.9rem;
  
  width: 100%;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  background-image: linear-gradient(to right, #ffffff, #dddde8);
  color: #111111;
  box-shadow: 0px 0px 3px 0px #000000;
  border-radius: 4px;
  border: 2px solid #ffffff;
  
  cursor: pointer;
  
}
#cardRight a {
  color: #111111;
}


.buttonRole[data-onoff="on"] {
  border-style: none !important;
  box-sizing: border-box;
  
  /* border: 2px solid rgba(255,255,255,1) !important; */
  color:#ffffff !important;
}



/* role color */
.backHero[data-role="Tank"]
, #cardMid > div[data-role="Tank"] 
, .buttonRole[data-role="Tank"][data-onoff="on"] 
{
  background-image: linear-gradient(to bottom, #fcea0a, #ff9200);
}


.backHero[data-role="Bruiser"] 
, #cardMid > div[data-role="Bruiser"] 
, .buttonRole[data-role="Bruiser"][data-onoff="on"] 
{
  background-image: linear-gradient(to bottom, #ff5c24, #ff0000);
}


.backHero[data-role="Melee Assassin"]
, #cardMid > div[data-role="Melee Assassin"] 
, .buttonRole[data-role="Melee Assassin"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #ff0066, #7a0000);
}


.backHero[data-role="Ranged Assassin"] 
, #cardMid > div[data-role="Ranged Assassin"] 
, .buttonRole[data-role="Ranged Assassin"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #aa35ff, #6666ff);
}


.backHero[data-role="Healer"] 
, #cardMid > div[data-role="Healer"] 
, .buttonRole[data-role="Healer"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #12d7ac, #00bb62);
}


.backHero[data-role="Support"] 
, #cardMid > div[data-role="Support"] 
, .buttonRole[data-role="Support"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #3f98ff, #00cafe);
}

