@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');

html {
  font-family:'Barlow', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 410px) {
  html {zoom: 95%;}
}

@media (max-width: 390px) {
  html {zoom: 90%;}
}

@media (max-width: 370px) {
  html {zoom: 85%;}
}

#divContent {
  width: 100%;
}

@media (min-width: 820px) {
  #divContent {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    }
}


body {
  width: 100%;
  /*position: relative;*/
  color: #111111;
  background-color: #dddde8;
  /* background-image: linear-gradient(to right, #541b65, #041340); */
  position: static;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  
}

a {
  text-decoration: none;
  color: #111111;
}



#Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  flex-direction: column;
}

#Header > #BeforeStorm {
  width: 374px;
  height: 55px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  
  font-weight: 800;
  font-family: 'Catamaran', 'Barlow', Helvetica, Arial, sans-serif !important;
  
  color: #404040;
}


#Header > #divMessage {
  
  /*margin-bottom: 5px;
  #border-radius: 5px;*/
  height: 30px;
  width: 100%;
  
  background-image: linear-gradient(to bottom, #ff0044, #990022);
  color: #ffffff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#divMessage > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


#divMessage > a{
  text-decoration: underline;
  color: #ffffff;
}



#Tab {
  width: 100%;
  height: 40px;
   /* same with height of divTop */
  /* background-color: #5027aa; */
  background-image: linear-gradient(to bottom, #792bbc, #2b33ba);
  /* main gradient */
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#TabFront {

  font-size: 1.1rem;
  
  color: #999999;
  width: 374px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


#TabFront a {
  text-decoration: none;
}


#tabFeedback { width: 25%; }
#tabMeta { width: 25%; }
#tabStyle { width: 25%; }
#tabLink { width: 25%; }
  
  
#tabStyle {
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 4px;
  border-bottom: 5px solid #ffffff;
}


#TabFront > div {
  display: flex;
  align-items: center;
  justify-content: center;
}



#tabStyle > a{
  color: #ffffff;
}

#tabMeta > a{
  color: #ffffff;
}


#tabFeedback > a {
  
  color: #ffffff;
  font-size: 1.7rem !important;
  
}

#tabLink #btnCopy {
  font-size: 1.9rem !important;
  border: none;

  background-color: transparent;
  
  text-decoration: none;
  
  font-family:'Barlow', Helvetica, Arial, sans-serif !important;
  font-size: 1rem !important;

}




#Setting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  
  color: #dddddd;
  
  width: 100%;
  height: 120px;
   
  background-image: linear-gradient(to bottom, #111111, #333333);
}

#Setting > div {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 0.9rem;
  
}

#Setting > div:nth-child(1) {
  height: 20px;
}

#Setting > div:nth-child(2) {
  height: 40px;
}

#Setting > div:nth-child(3) {
  height: 40px;
}



#Setting > div:nth-child(2) > div:nth-child(1), #Setting > div:nth-child(2) > div:nth-child(3), #Setting > div:nth-child(3) > div:nth-child(1), #Setting > div:nth-child(3) > div:nth-child(3) {
  width: 16%;
}

#Setting > div:nth-child(2) > div:nth-child(2), #Setting > div:nth-child(3) > div:nth-child(2) {
  width: 40%;
}



#divRole {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem !important;
  
  height: 36px;
  margin-top: 5px;
  margin-bottom: 20px;
  
  /*
  background-image: linear-gradient(to bottom, #777777, #999999); */
  color: #111111;
  
  cursor: pointer;

}

#divRole > div {
  width: 34px;
  height: 34px;
  
  margin-right: 4px;
  margin-left: 4px;
  
  border-radius: 17px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-sizing: border-box;
  border: 2px dashed #aaaaaa;
}

#divRole > div:nth-last-child(1), #divRole > div:nth-child(1){
  border-style: none !important;
  width: 50px !important;
  background-color: #ffffff;
}



#Heroes div[data-onoff="off"] {
  display: none;
}








#Heroes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}






.divEachHero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  margin: 10px;
  
  background-image: linear-gradient(to bottom right, #eeeeee, #ffffff);
  height: 90px;
  width: 380px;
  
  border-radius: 10px;
}

.leftEachHero {width: 70px;}
.rightEachHero {width: 310px;}

.leftEachHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 90px;
  
  
  border-radius: 10px 0 0 10px;
}


.rightEachHero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.rightTopEachHero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  
  height: 60px;
}

.rightBottomEachHero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  
  background-color: #f0f0f0;
  width: 100%;
  height: 30px;
  border-radius: 0 0 10px 0;
}


.backHero {
  
  width: 52px;
  height: 52px;

}


.backHero {
  display: flex;
  justify-content: center;
  align-items: center;

  margin:0px;
  pdding: 0px;
  border-radius: 6px;
}

.imgHero {
  width: 48px;
  height: 48px;
  margin: 0px;
  pdding: 0px;
  
  border-radius: 5px;
  cursor: pointer;
}

.groupBasicIcon {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.groupBasicIcon > div {
  
  color: #336;
  border: 1px solid #336;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 5px;
  
  width: 55px;
  
}

.divIconAttackRange {
  font-size: 0.9rem;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 3px;
}

.divIconDiff {
  font-size: 0.8rem;
  height: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.groupScoreIcon {
  margin-left: 2px;
  
  height: 52px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.divScoreIcon {
  width: 60px;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
}

.textIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.scoreIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.groupOtherScoreIcon {
  margin-left: 8px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  overflow: scroll;
  height: 30px !important;
}

.groupOtherScoreIcon > div {
  font-size: 0.9rem;

  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  
  color: #335;
  border: 1px solid #335;
  
  
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  
  border-radius: 5px;
  
  white-space: nowrap;
  
}





#divInfo {
  width: 300px;
  
  color: #555555;
  background-color: #eeeeee;
  box-shadow: 0px 0px 1px 0px #cccccc;
  
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  
  border-radius: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#divInfo a {
  color: #555555;
  text-decoration: underline;
}

#divInfo > div:nth-child(1) {
  width: 30%;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

#divInfo > div:nth-child(2) {
  width: 66%;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}




#cardFocus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 362px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  
  height: 120px;
  overflow: hide;
  overflow-y: scroll;
  width: 370px  ;
  
  padding: 6px;
  
  background-image: linear-gradient(to bottom, #111111, #333333);
  color:#ffffff;
  z-index: 10;
  opacity: 0.95;
  
  border-radius: 10px;
  border: 4px solid #000000;
}

@media (min-height: 1000px) {
  #cardFocus {
    top: 750px;
  }
}



#cardLeft {
  width: 20%;
}

#cardMid {width: 58%;}
#cardRight {width: 20%;}

#imgHeroCard {
  width: 60px;
  height: 60px;
  margin-bottom: 2px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px #000000;
}

#cardLeft > div {
  font-size: 1.1rem;
}

#cardLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#closeCard {
  width: 90%;
  height: 20px;
  margin-bottom: 4px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  background-image: linear-gradient(to right, #ee0000, #990000);
  color: #ffdddd;
  box-shadow: 0px 0px 3px 0px #000000;
  border-radius: 4px;
  border: 2px solid #cc0000;
  
  cursor: pointer;
}

#cardMid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


#cardMid > div:nth-child(1) {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  
}

#cardMid > div:nth-child(2) {
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

#cardMid > div:nth-child(3) {
  margin-left: 3px;
}

#cardMid > div:nth-child(4) {
  width: 100%;
}

#cardMid > div:nth-child(5) {
  width: 100%;
}

#cardRight > div {
  font-size: 0.9rem;
  
  width: 100%;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  background-image: linear-gradient(to right, #ffffff, #dddde8);
  color: #111111;
  box-shadow: 0px 0px 3px 0px #000000;
  border-radius: 4px;
  border: 2px solid #ffffff;
  
  cursor: pointer;
  
}
#cardRight a {
  color: #111111;
}


.buttonRole[data-onoff="on"] {
  border-style: none !important;
  box-sizing: border-box;
  
  /* border: 2px solid rgba(255,255,255,1) !important; */
  color:#ffffff !important;
}



/* role color */
.leftEachHero[data-role="Tank"]
, #cardMid > div[data-role="Tank"] 
, .buttonRole[data-role="Tank"][data-onoff="on"] 
{
  background-image: linear-gradient(to bottom, #fcea0a, #ff9200);
}


.leftEachHero[data-role="Bruiser"] 
, #cardMid > div[data-role="Bruiser"] 
, .buttonRole[data-role="Bruiser"][data-onoff="on"] 
{
  background-image: linear-gradient(to bottom, #ff5c24, #ff0000);
}

.leftEachHero[data-role="Melee Assassin"]
, #cardMid > div[data-role="Melee Assassin"] 
, .buttonRole[data-role="Melee Assassin"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #ff0066, #7a0000);
}


.leftEachHero[data-role="Ranged Assassin"] 
, #cardMid > div[data-role="Ranged Assassin"] 
, .buttonRole[data-role="Ranged Assassin"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #aa35ff, #6666ff);
}


.leftEachHero[data-role="Healer"] 
, #cardMid > div[data-role="Healer"] 
, .buttonRole[data-role="Healer"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #12d7ac, #00bb62);
}


.leftEachHero[data-role="Support"] 
, #cardMid > div[data-role="Support"] 
, .buttonRole[data-role="Support"][data-onoff="on"]  
{
  background-image: linear-gradient(to bottom, #3f98ff, #00cafe);
}


/* other score color */

.right1EachHero > div[data-AttackRange="Melee"] {
  border-color: #cc0066 !important;
  color: #cc0066 !important;
}

.right1EachHero > div[data-AttackRange="Ranged"] {
  border-color: #82f !important;
  color: #82f !important;
}




